# Python related
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/
*.whl

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
env/
ENV/
.venv/

# Spark related
spark-warehouse/
*.parquet

# Logs
*.log

# Temporary files
*.tmp
*.temp

# IDE files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Environment variables
.env
